@charset "utf-8";

/*
 * Style - register
 * Version: 3.0
 */

/* ---------- reg ---------- */

.register{
    width: 800px;
    height: 340px;
    margin:1px auto;
    background-color: #ffffff;
}
.container .stance{
    height: 100px;;
}